<div class="user">

  <% pairing_date = Pairing.pairing_date(current_user, user) %>
  <div><%= link_to_unless(pairing_date, image_tag(user.photo_name), new_user_pairing_path(user), class: "user-link") do
    image_tag user.photo_name, class: "paired"
  end %>
  </div>

  <%= user.name %>
  <% if pairing_date %>
      <p><%= pairing_date.strftime("%-m/%-d/%Y") %></p>
  <% end %>
</div>
